*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100dvb;
  width: 100vw;
  overflow: hidden;
  position: relative;
  background-color: hsl(0, 0%, 3%);
}

.animated-cursor{
  background-color: hsl(0, 85%, 41%);
  pointer-events: none;
  border: none;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  will-change: transform;
}